*{
    margin: 0;
    padding: 0;

    
}
body{
    background-color: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    
}

header{
    display: inline-block;
}
header img{
    margin: 40px 0 0 40px;
}

main{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
   
    
    
}

#contenedor-ingreso{
    width: 55%;
  
   padding: 50px;

   

}

#contenedor-ingreso textarea{
    width: 100%;
    color: #0A3871;
}

#contenedor-ingreso p{
    color: #495057;
    margin: 30px 0 30px 0;
}

.area-de-escritura{
   border: none;
    resize: none;
   
    font-size: 32px;

    background-color: #F3F5FC;
    
}
.area-de-escritura::placeholder{
    color: #0A3871;
}
.area-de-escritura:focus{
    outline: 0 none;

}

.e-d{
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    
}

.encriptar{
    color:white;
    width: 328px;
    padding: 24px;
    background-color: #0A3871;
    border-radius: 24px;
    border: none;
    font-size: 16px;

}
.desencriptar{
    border:0.5px solid #0A3871;
    width: 328px;
    padding: 24px;
    background-color: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    font-size: 16px;
}

#mensaje{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 70vh;
    overflow-y: auto ;
    overflow-x: hidden;
    border-radius:32px ;
    padding: 30px;
    width: 20%;
    margin-right: 40px;
    box-shadow: 0px 24px 32px -8px #00000014;
    font-size: 24px;
    color: #495057;
    justify-content: space-between;
}



.copiar{
    border:0.5px solid #0A3871;
    width: 328px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 24px;
    color: #0A3871;
    font-size: 16px;
   
    margin-top: 50px;
    
}
button:hover{
    cursor:pointer
}

@media screen and (min-width: 720px) and (max-width:1024px) {
    header img{
        width: 50%;
        margin: 60px 0 0 10px;
        

    }
    main{
        justify-content: center;
    }
    #contenedor-ingreso{
        width: 100%;
    }
    .encriptar{
       
        width: 300px;
        
    
    }
    .desencriptar{
        
        width: 300px;
        
    }
    #mensaje{
        display: flex;
        width: 100%;
        margin: 40px;
        height: min-content;
    }
    .procesado{
        text-align: justify;
    }
    #mensaje img{
        display: none;
        width: 1px;
        height: 1px;
        
    }
    .copiar{
        
        width: 100%;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 719px){
    header img{
        width: 50%;
        margin: 25px 0 0 25px;
        text-align: left;
        

    }
    main{
        justify-content: center;
    }
    #contenedor-ingreso{
        width: 90%;
        margin: 30px auto auto auto;
        padding: 20px;
    }
    #contenedor-ingreso textarea{
        width: 100%;
        font-size: 25px;
        
       
    }
    .e-d{
       flex-direction: column;
        
    }
     .encriptar, .desencriptar{
       
        width: 100%;
        margin: 5px 0 5px 0;
        
    
    }
    #mensaje{
        display: flex;
        width: 100%;
        margin: 20px;
        height: min-content;
    }
    .procesado{
        text-align: justify;
        font-size: 20px;
    }
    #mensaje img{
        display: none;
        width: 1px;
        height: 1px;
        
    }
    .copiar{
        
        width: 100%;
        margin-top: 20px;
        
    }

}